header .header-icon  {
    padding-left: 10px;
}

header .header-top-center input{
    width: 80%;
    height: 30px;
    padding-left: 10px;
    font-size: 1.5rem;
}

.icon{
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    height: 21px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    background-color: #efefef;
}
header .header-top-right i{
    font-size: 1.8rem;
}

header .header-top-right i:hover{
    color: red;
    transform: scale(1.2);
}
header .header-top-right a{
    width: 80%;
}

header .header-top-right{
    padding-right: 40px;
}
.logo img {
    padding-left: 20px;
    height: 40px; 
    width: 50px; 
}
.logo p{
    font-size: 24px;
    font-weight: 600;
}
